* {
    font-family: arial;
}

body, html {
    margin: 0;
    top:0;
    left: 0;
    bottom:0;
    right: 0;
}

a:link {
    text-decoration: none; 
}

h2 {
    margin: 0;
    font-size: 14px;
}

h3 {
    margin: 0;
    font-size: 12px;
    font-weight: 100;
    padding-top: 8px;
    color:#777777;
}

h4 {
    margin: 0;
    font-size: 11px;
    font-weight: 400;
    
}

.main {
    position: relative;
    margin: 0 auto;
    border: 1px solid #dadada;
    width: 750px;
    height: 400px;
    background: #ececec;
}

.icon {
    background: url("./img/1885_sm.jpg");
    position: relative;
    width: 45px;
    height: 45px;
    top: 11px;
    left: 5px;
    border-radius: 5px;
}

.submitBoxMain {
	position: relative;
    width:670px;
    height:350px;
    left: 70px;
    bottom: 33px;
    border-radius: 5px;
	background: #ffffff;
    border: 1px solid #dadada;
}

input[type="text"] {
    position: relative;
    border: 1px solid #dadada;
    border-radius: 2px;
    outline: none;
    height: 18px;
    width: 96%;
    top: 10px;
    left: 10px;
}

input[type=text]:focus {
    outline: none;
    border: 2px solid #d3d3d3;
}

.submitTabs {
    list-style-type: none;
    list-style-position: inside;
}

ul.submitTabsUL {
    list-style: none;
    display: table;
    padding: 0;
    overflow: hidden;
    list-style-type: none;
    list-style-position: inside;
}

li {
    display: table-cell;
    float: left;
    list-style-type: none;
    list-style-position: inside;
    padding-left: 10px;
}

li.list1 {
    color: black;
    background-color: gray;
}

i.list2 {
    margin-left: 5px;
    padding-left: 3px;
}

i.list3 {
    margin-left: 5px;
    padding-left: 3px;
}

li.listBlank {
    margin-left: 30px;
}

.submitForm {
    position: relative;
}

textarea {
    position: relative;
    border: 1px solid #dadada;
    background-color:#f3f3f3;
    width: 96%;
    height: 200px;
    top: -9px;
    left: 10px;
    border-radius: 2px;
    outline: none;
    vertical-align: text-top;
    overflow: auto;
}

textarea:focus {
    outline: none;
    border: 2px solid #d3d3d3;
}

.sumbutInstructions {
    position:relative;
    width: 95%;
    height: 30px;
    padding-left: 10px;
    top:-10px;
    border: 1px solid #dadada;
    background-color:#f3f3f3;
    left: 10px;
}

span.instructionsHighlight {
    color: blue;
}

.submitFooter {
    left:10px;
    display: inline-flex;
    position: relative;
    width: 95%;
}

.footerText {
    display: inline-flex;
}

span.footerStyle {
    position: relative;
    top: 2px;
    padding-left: 10px;
}

.arrowMain {
    position: absolute;
    left:62px;
    top:23px;
}

.arrow {
    position: absolute;
    width: 0;
	height: 0;
	border-top: 8px solid transparent;
	border-right: 8px solid #ffffff;
	border-bottom: 8px solid transparent;
}

.button {
  background: #4fd934;
  background-image: -webkit-linear-gradient(top, #4fd934, #3cb524);
  background-image: -moz-linear-gradient(top, #4fd934, #3cb524);
  background-image: -ms-linear-gradient(top, #4fd934, #3cb524);
  background-image: -o-linear-gradient(top, #4fd934, #3cb524);
  background-image: linear-gradient(to bottom, #4fd934, #3cb524);
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  position: relative;
  left: 304px;
  top: -6px;
  font-family: Arial;
  color: #ffffff;
  font-size: 14px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.button:hover {
  background: #4fd934;
  background-image: -webkit-linear-gradient(top, #4fd934, #4fd934);
  background-image: -moz-linear-gradient(top, #4fd934, #4fd934);
  background-image: -ms-linear-gradient(top, #4fd934, #4fd934);
  background-image: -o-linear-gradient(top, #4fd934, #4fd934);
  background-image: linear-gradient(to bottom, #4fd934, #4fd934);
  text-decoration: none;
}